<div class="cardcontainer">
  <%for(facultycard of facultycard){%>
    
<div class="card">
        
    <div class="picture">
         
    
      <img src="<%=facultycard.avatar%>" alt="<%=facultycard.email%>" width="300" style="color:red">
      
    </div>
    <div class="details">
      <h2 class=detailsheading><%=facultycard.name%></h2>
          <table border="1">
            <tr>
              <th>Designation</th>
              <td><%=facultycard.designation%></td>
            </tr>
            <tr>
              <th>Qualification</th>
              <td><%=facultycard.qualification%></td>
            </tr>
            <tr>
              <th>Areas of Interest</th>
              <td> <%=facultycard.areaOfInterest%></td>
            </tr>
            
            <tr>
              <th>Phone</th>
              <td> <%=facultycard.phone%></td>
            </tr>
            <tr>
              <th>Email</th>
              <td> <%=facultycard.email%></td>
            </tr>
             

          </table>
      <!-- <li><p><%=facultycard.designation%></p></li>
      <p><%=facultycard.qualification%></p>
      <p>Areas of Interest:<p> <%=facultycard.areaOfInterest%></p></p>
      <p>Phone: <p> <%=facultycard.phone%></p></p>
      <p>Email: <p> <%=facultycard.email%></p></p>
      <p>id: <p> <%=facultycard.id%></p></p> -->
    
      <a href="/basicInfo/basicInfoShow/<%= facultycard.email%>" class="button">View Profile</a>
      
          <%if(locals.user && locals.user.role==='admin')  {%>        
        <a href="/facultycard/destroy/<%= facultycard.id %>"class="button1">Delete faculty</a>
          <%}%>
      
    </div>
  </div>
  <%}%>
  
</div>

<section class="addfaculty">

<%if(locals.user && locals.user.role==="admin"){%>
<ul>
    <!-- <li>
        <a href="/users/profile">view Profile</a>
    </li> -->

    <li>
        <a href="/facultycard/facultyform"class="button">Addfaculty</a>
    </li>
    
  
    <% } %>
</ul>
</section>

